* {
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background: #003049 !important;
  }


/* CONTENEDOR DE CALIFICADOR */
h2 {
    font-size: 20px !important;
    font-family: 'Oxygen', sans-serif;
    color: aliceblue;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 5px;
}

h4 {
    font-size: 15px !important;
    font-family: 'Oxygen', sans-serif;
    color: aliceblue;
    margin-top: 10px;
    margin-left: 25px;
}

.input-reseña {
    background: #fffefe;
    width: 350px;
    height: 32px;
    font-size: 15px;
    padding: 12px 25px;
    margin-left: 25px;
    border: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    outline: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
}



/* CALIFICADOR DE ESTRELLAS */

/*p.clasificacion {
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-size: 32px;
    font-size: 2.5rem;
    margin-left: 25px;
}

p.clasificacion .input-reseña {
    position: absolute;
    top: -100px;
}

p.clasificacion .label-estrella {
    float: right;
    color: rgb(255, 255, 255);
}

p.clasificacion label:hover,
p.clasificacion label:hover~.label-estrella,
p.clasificacion input:checked~.label-estrella {
    color: rgb(255, 238, 0);
}*/


/* BOTONES DE MODAL */

/*.abrir-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: none;
    height: auto;
    width: 150px;
    padding: 10px;
    color: #ffffff;
    background-color: #000000;
    border: none;
    border-radius: 15px 15px 15px 15px;
    transition: all 0.3s;

}

.abrir-modal:hover {
    color: #ffffff;
    background-color: #616161;
    border: none;
    border-radius: 15px 15px 15px 15px;
}

.cerrar-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: none;
    height: auto;
    width: 120px;
    padding: 10px;
    color: #ffffff;
    background-color: #545454;
    border: none;
    border-radius: 20px 20px 20px 20px;
    transition: all 0.3s;
    margin-left: 400px;

}

.cerrar-modal:hover {
    color: #ffffff;
    background-color: #ff2424;
    border: none;
    border-radius: 15px 15px 15px 15px;
}

.enviar-reseña {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: none;
    height: auto;
    width: 150px;
    padding: 10px;
    color: #ffffff;
    background-color: #545454;
    border: none;
    border-radius: 15px 15px 15px 15px;
    transition: all 0.3s;
}

.enviar-reseña:hover {
    color: #ffffff;
    background-color: #36ba38;
    border: none;
    border-radius: 15px 15px 15px 15px;
}*/



/* MODAL */
/*
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    width: 800px;
    height: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: rgb(44, 44, 44);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.close {
    background: #000000;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #ffffff;
}*/

.avatar{
    border-radius: 50%;
}

 .navbar {
    --bs-navbar-padding-y: 2.5rem;
    width: 100%;
    height: 90px;
    background-color: black;
    position: sticky;
    top: 0;
  }
  
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    margin-right: -30px;
}
  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
  }
  
  .logo-container .logo {
    margin-left:0;
}

.profile-text-container {
    margin: -8px 300px;
   
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: initial !important;
    margin-top: 0.125rem;
    margin-left: 87%;
}

.dropdown-toggle {
    white-space: pre-wrap !important;
}

.logo-container .logo {
    margin-left: -150px;
}

tbody, td, tfoot, th, thead, tr {
    border-color: rgb(0, 0, 0) !important;
    border-style: solid;
    border-width: 0;
    background-color: rgb(255, 255, 255);
}