body {
    margin: 0;
    padding: 0;
    background: url(fondo3.jpg);
    background-size: 100%;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .login-box {
    width: 320px;
    height: 270px;
    background: rgba(0, 0, 0, 0.699);
    color: #fff;
    top: 60%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    padding: 70px 30px;
    border: solid white;
  }
  
  .login-box .avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: calc(46% - 50px);
  }
  .avatar {
    border-radius: 50%;
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 38px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color:#FDF0D5;
  }

  .login-box a:hover {
    color: #fff;
  }

  .btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #f1efef;
    font-size: 14px;
    border-radius: 20px;
    margin: 30px;
    padding: 0.375rem 3.12rem;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 0px;
  height: 0vmin;
  background-color: #000;
}

.modal-dialog {
  max-width: 650px;
  margin: 2.75rem auto;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color:  #0e0d0dfa;
  background-clip: padding-box;
  border: 1pxsolidrgba(0,0,0,.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-header {
  background: #b80f22;
}

.modal {
  position: absolute;
  top: -1cm;
  left: -5cm;
  z-index: 1055;
  display: none;
  width: 200%;
  height: 500%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: black !important;
  padding: 8px;
  top: -4px;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  margin: 4px;
}
.d-flex{
  margin-right: 400px;
}
.form-control{
  margin-left: 70px;
 margin-inline: 378px;
}


.me-2 {
  margin-right: -14.5rem!important;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
  margin-left: -82px;
}

.btn-outline-secondary {
  color: #f8f9fa;
  border-color: #f8f9fa;
  margin-left: -82px;
}