body {
    margin: 0;
    padding: 0;
    background: url(../fondo3.jpg);
    background-size: 100%;
    font-family: sans-serif;
    height: 100vh;
  }
  .nuevousuario {
    background: url(../Fondo_nuevo_usuario.jpg);
    background-size: 100%;
  }
  
  .login-box {
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.699);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border: solid white;
  }
  
  .login-box .avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: calc(46% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 38px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color:#FDF0D5;
  }

  .login-box a:hover {
    color: #fff;
  }

  .btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #f1efef;
    font-size: 14px;
    border-radius: 20px;
    margin: 38px;
}