* {
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background: #003049 !important;
  }

  .logo {
    border-radius: 50%;
  }

  .h1, h1 {
    font-size: 2.5rem;
    padding-top: 30px;
    font-family: cursive;
}
  
  .navbar {
    --bs-navbar-padding-y: 2.5rem;
    width: 100%;
    height: 90px;
    background-color: black;
    position: sticky;
    top: 0;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .menu-container {
    flex: 6;
  }
  
  .menu-list {
    display: flex;
    list-style: none;
  }
  
  .menu-list-item {
    margin-right: 30px;
  }
  
  .menu-list-item.active {
    font-weight: bold;
  }
  .profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .profile-text-container {
    margin: 0 20px;
  }
  
  .profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  
  .toggle-icon {
    color: goldenrod;
  }
  
  .toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
  }
  
  .sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  
  .left-menu-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .container {
    background-color: #003049 !important;
    max-width: 1290px !important;
    color: white;
  }


  
  .content-container {
    margin-left:0px;
  }
  
  .featured-content {
    height: 50vh;
    padding: 70px;
    margin-top: 30px;
    opacity: 0.80;
  }
  
  .featured-title {
    width: 200px;
  }
  
  .featured-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
  }
  
  .featured-button {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
  }
  
  .movie-list-container {
    padding: 0 20px;
  }
  
  .movie-list-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .movie-list {
    display: flex;
    align-items: center;
    height: 500px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
  }
  
  .movie-list-item {
    margin-right: 30px;
    position: relative;
  }
  
  .movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
  }
  
  .movie-list-item:hover .movie-list-item-title,
  .movie-list-item:hover .movie-list-item-desc,
  .movie-list-item:hover .movie-list-item-button {
    opacity: 1;
  }
  
  .movie-list-item-img {
    transition: all 1s ease-in-out;
    width: 420px;
    height: 350;
    object-fit: cover;
    border-radius: 10px;
    border: solid 2px white;
  }

  .movie-list-item-title {
    color: white;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  
  .movie-list-item-desc {
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 60%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  
  .movie-list-item-button {
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  
  .arrow {
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: #dc3545;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .container.active {
    background-color: white;
  }
  
  .movie-list-title.active {
    color: black;
  }
  
  .navbar-container.active {
    background-color: white;
  
    color: black;
  }
  
  .sidebar.active{
      background-color: white;
  }
  
  .left-menu-icon.active{
      color: black;
  }
  
  .toggle.active{
      background-color: black;
  }
  
  .toggle-ball.active{
      background-color: white;
      transform: translateX(-20px);
  }
  
  
  @media only screen and (max-width: 940px){
      .menu-container{
          display: none;
      }
  }

  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    margin-left: 950;
    position: absolute;
    top: 25;
    margin-left: 1050px;
}


.destacada {
    width: 1000px;
    height: 600px;
    margin: auto;
}

.img-destacada {
    width: 350px;
    height: 450px;
    float: left;
    margin-right: 30px;
    box-shadow: 15px 15px 15px rgba(12, 12, 12, 0.726);
}

.destacada h2 {
    font-size: 40px;
    font-family: 'Radio Canada', sans-serif;
    margin-top: 90px;
    margin-bottom: 30px;
}

.destacada .resumen-destacada {
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.548);
    padding: 20px 30px 20px 20px;
    box-shadow: 13px 13px 13px rgba(22, 22, 22, 0.726);
}



/* GENEROS */

.generos {
    right: 20px;
    width: 1100px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.450);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 13px 13px 13px rgba(0, 0, 0, 0.349);
    padding: 20px 30px;
    color: rgb(255, 255, 255);
    border-radius: 10px
}

.contenedor-botones {
    left: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    display: flex;
    position: relative;
    top: 15%;
    bottom: 0px;
    margin-bottom: 200px;
}

.contenedor-botones2{
    right: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    display: flex;
    position: relative;
    top: 25%;
    bottom: -78px;
    margin-bottom: 200px;
}

.h2-generos{
    font-size: 40px;
    font-family: 'Radio Canada', sans-serif;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 350px;
}

/* BOTONES */

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 26px;
    font-weight: none;
    height: 40px;
    width: 140px;
    padding: 17px;
    color: #ffffff;
    background-color: #124368;
    border: none;
    border-radius: 20px 20px 20px 20px;
    transition: all 0.3s;
}

.boton:hover {
    color: #077dd8;
    background-color: #000000;
    border: 1px solid #0091ff;
    border-radius: 20px 20px 20px 20px;
} 

/* FOOTER */

.footer{
    background-color: #0000005d;
    padding: 1em 0;
    text-align: center;
    margin-top: 30px;
}

.footer p{
    color: #ffffff;
}

/* CONTENEDOR DE CALIFICADOR */
.contenedor-calificador {
  width: 550px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.548);
  box-shadow: 13px 13px 13px rgba(22, 22, 22, 0.726);
  border-radius: 30px;
  margin-right: 210px;
  float: right;
}

h2 {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  color: aliceblue;
  margin-top: 15px;
  margin-left: 25px;
  margin-bottom: 5px;
}

h4 {
  font-size: 15px;
  font-family: 'Oxygen', sans-serif;
  color: aliceblue;
  margin-top: 10px;
  margin-left: 25px;
}

.input-reseña {
  background: #535353;
  font-size: 15px;
  padding: 12px 25px;
  margin-left: 25px;
  margin-top: 15px;
  border: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  outline: 0px;
  border-radius: 10px;
}

.peli {
  width: 550px;
  height: 450px;
  display: flex;
  gap: 200px;
}

.peli img {
  width: 650px;
  height: 600px;
}

.info-peli {
  width: 550px;
  height: 400px;
  float: right;
  top: 300px;
  background-color: rgba(0, 0, 0, 0.548);
  box-shadow: 13px 13px 13px rgba(22, 22, 22, 0.726);
  border-radius: 30px;
}

.info-peli li {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  color: aliceblue;
  padding: 30px 30px 30px 20px;
  list-style-type: none;
}



/* CALIFICADOR DE ESTRELLAS */

p.clasificacion {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-size: 32px;
  font-size: 2.5rem;
  margin-left: 25px;
}

p.clasificacion input {
  position: absolute;
  top: -100px;
}

p.clasificacion label {
  float: right;
  color: #333;
}

p.clasificacion label:hover,
p.clasificacion label:hover~label,
p.clasificacion input:checked~label {
  color: rgb(255, 238, 0);
}

.comentarios {
  margin: 20px , 0;
}

.form_comentarios textarea {
  margin-top: 52px;
  width: 60%;
  height: 84px;
  border: solid 1px black;
  margin-bottom: 20px;
}

/*PARTE NUEVA-API DE TMDB*/

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;
  align-items: initial;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
  position: relative;
}

.contenedor .pelicula {
	text-align: center;
  position: relative;
}

.pelicula:hover p{
  display: block;
  position: absolute;
  transition:  1s all ease-in-out;
}

.contenedor:hover .titulo{
  display: block;
}

.contenedor .pelicula .titulo {
	font-size: 26px;
	font-weight: 600;
  color:white;
}


.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
  border: solid 2px white;
}

.contenedor .pelicula .poster:hover{
  transform: scale(1.4);
  margin: 0 30px;
  opacity: 0.5;
 transition: all 1s ease-in-out;
}

.paginacion {
	position: static;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;

}

.paginacion button:hover {
	background: #dc3545;
}

[type="button"], [type="reset"], [type="submit"], button {
  appearance: button;
  padding: 10px;
  background-color: #dc3545 !important;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  bottom: 20px;
  left: 50px;
}

.overview {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  opacity: .80;
  text-align: center;
  color: #000000;

}


