* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background: #003049;
    font-family: "calibri";
    min-height: 100vh;
    margin-left: 50px;
    margin-right: 50px;
}

header {
    background: #C1121F;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

.menu {
    width: 900px;
    margin: auto;
}



/* NAV */

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 22px 0;
    float: left;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: rgb(224, 224, 224);
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before {
    width: 100%;
}



/* CARRUCEL */

.slider {
    width: 95%;
    margin: 20px;
    margin-top: 20px;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate linear;
    margin-bottom: 100px;
}

.slider li {
    width: 10%;
    list-style: none;
}

.slider img {
    width: 50%;
    height: 99%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}



/* PELI DESTACADA */

.destacada {
    width: 1000px;
    height: 600px;
    margin: auto;
}

.img-destacada {
    width: 350px;
    height: 450px;
    float: left;
    margin-right: 30px;
    box-shadow: 15px 15px 15px rgba(12, 12, 12, 0.726);
}

.destacada h2 {
    font-size: 40px;
    font-family: 'Radio Canada', sans-serif;
    margin-top: 90px;
    margin-bottom: 30px;
}

.destacada p {
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.548);
    padding: 20px 30px 20px 20px;
    box-shadow: 13px 13px 13px rgba(22, 22, 22, 0.726);
}



/* GENEROS */

.generos {
    right: 20px;
    width: 1100px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.450);
    margin: auto;
    margin-top: 30px;
    box-shadow: 13px 13px 13px rgba(0, 0, 0, 0.349);
    padding: 20px 30px;
    color: rgb(255, 255, 255);
    border-radius: 10px
}

.contenedor-botones {
    left: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    display: flex;
    position: relative;
    top: 15%;
    bottom: 0px;
    margin-bottom: 200px;
}

.contenedor-botones2{
    right: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    display: flex;
    position: relative;
    top: 25%;
    bottom: -78px;
    margin-bottom: 200px;
}

.h2-generos{
    font-size: 40px;
    font-family: 'Radio Canada', sans-serif;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 350px;
}



/* BOTONES */

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 26px;
    font-weight: none;
    height: 40px;
    width: 140px;
    padding: 17px;
    color: #ffffff;
    background-color: #124368;
    border: none;
    border-radius: 20px 20px 20px 20px;
    transition: all 0.3s;
}

.boton:hover {
    color: #077dd8;
    background-color: #000000;
    border: 1px solid #0091ff;
    border-radius: 20px 20px 20px 20px;
}