* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: #003049 !important;
    font-family: "calibri";
    min-height: 100vh;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


/*  /* estilos para Nav y modal */
#login-box {
    width: 320px;
    height: 270px;
    background: rgba(0, 0, 0, 0.699);
    color: #fff;
    top: 60%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    padding: 70px 30px;
    border: solid white;
}

.login-box .avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: calc(46% - 50px);
}
.avatar {
    border-radius: 50%;
}

#login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

#login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}


#login-box input {
    width: 100%;
    margin-bottom: 20px;
}

#login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 38px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background:#ffc107;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    border: none;
    outline: none;
    height: 40px;
    background: #ffc107;
    color: black;
    font-size: 22px;
    border-radius: 17px;
}
.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
label {
    display: table-row-group;
    background-color: white;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 38px;
    color: #fff;
    font-size: 16px
}

input {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 32px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
}

.submit {
    cursor: pointer;
    background-color: #b80f22
        color: white;
}
.submit :hover {
    background-color: #e9a8b0;
}

#login-box a {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color:#FDF0D5;
}

#login-box a:hover {
    color: #fff;
}

#btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #f1efef;
    font-size: 14px;
    border-radius: 20px;
    margin: 30px;
    padding: 0.375rem 3.12rem;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 0px;
    height: 0vmin;
    background-color: #000;
}

.modal-dialog {
    max-width: 650px;
    margin: 2.75rem auto;
}

#modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color:  #0e0d0dfa;
    background-clip: padding-box;
    border: 1pxsolidrgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0; 
}
#modal-header {
    background: #b80f22;
    padding: 0px;
    background-image: none;
}

#modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem; 
}

#modal {
    position: absolute;
    top: -1cm;
    left: -17cm;
    z-index: 1055;
    display: none;
    width: 200%;
    height: 500%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: black !important;
    padding: 0px;
    top: 0px;
}
.btn-danger {
    background-color: #b02a37!important;
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    margin: 5px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.d-flex{
    margin-right: 400px;
}
.form-control{
    margin-left: 70px;
    margin-inline: 440px;
}


.me-2 {
    margin-right: -14.5rem!important;
    padding: 18px;
    margin-top: 20px;
}

.btn-outline-secondary {
    color: black;
    border-color: black;
    margin-left: -58px;
    margin-top: 18px;
    background-color: white;
    border-radius: 10px;
} 


/* SLIDER */

#carouselExampleControls{
    max-width: 500px;
    width: 100%;
    padding: 00x;
    box-sizing: border-box;
    margin: auto;
}


/* PELI DESTACADA */

.destacada {
    width: 1000px;
    height: 600px;
    margin: auto;
}

.img-destacada {
    width: 350px;
    height: 450px;
    float: left;
    margin-right: 30px;
    box-shadow: 15px 15px 15px rgba(12, 12, 12, 0.726);
}

.destacada h2 {
    font-size: 40px;
    font-family: 'Radio Canada', sans-serif;
    margin-top: 90px;
    margin-bottom: 30px;
}

.destacada p {
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.548);
    padding: 20px 30px 20px 20px;
    box-shadow: 13px 13px 13px rgba(22, 22, 22, 0.726);
}



/* GENEROS */

.generos {
    right: 20px;
    width: 1100px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.450);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 13px 13px 13px rgba(0, 0, 0, 0.349);
    padding: 20px 30px;
    color: rgb(255, 255, 255);
    border-radius: 10px
}

.contenedor-botones {
    left: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    display: flex;
    position: relative;
    top: 15%;
    bottom: 0px;
    margin-bottom: 200px;
}

.contenedor-botones2{
    right: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    display: flex;
    position: relative;
    top: 25%;
    bottom: -78px;
    margin-bottom: 200px;
}

.h2-generos{
    font-size: 40px;
    font-family: 'Radio Canada', sans-serif;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 350px;
}



/* BOTONES */

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 26px;
    font-weight: none;
    height: 40px;
    width: 140px;
    padding: 17px;
    color: #ffffff;
    background-color: #124368;
    border: none;
    border-radius: 20px 20px 20px 20px;
    transition: all 0.3s;
}

.boton:hover {
    color: #077dd8;
    background-color: #000000;
    border: 1px solid #0091ff;
    border-radius: 20px 20px 20px 20px;
} 

/* FOOTER */

.footer{
    background-color: #0000005d;
    padding: 1em 0;
    text-align: center;
    margin-top: 30px;
}

.footer p{
    color: #ffffff;
}