<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="cargarPeli.css">
  <title>Document</title>
</head>

<body>

  <main class="form">
    <form action="">
      <label for="nombre">Nombre</label>
      <input type="text" class="input-peli" placeholder="ingrese el nombre de la pelicula" name="nombre">

      <label for="dirección">Dirección</label>
      <input type="text" class="input-peli" placeholder="ingrese el/la directores" name="dirección">

      <label for="año">año</label>
      <input type="date" class="input-peli" placeholder="ingrese el año" name="año">

      <label for="genero">Genero </label>
      <input type="text" class="input-peli" placeholder="ingrese el genero" name="genero">

      <label for="duracion">Duracion</label>
      <input type="text" class="input-peli" placeholder="ingrese la Duración" name="duracion">

      <label for="foto">Foto</label>
      <input required type="file" placeholder="foto" name="foto">

      <button type="submit"> Guardar pelicula</button>
    </form>
  </main>


</body>

</html>
