<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi perfil</title>
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <link rel="stylesheet" href="styleperfil.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>


<body>
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img th:src="${'/foto/usuario/'+ session.usuariosession.id}" alt="img-avatar">
                  
                </div>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo" th:text="${session.usuariosession.nombre + ' ' + session.usuariosession.apellido}"></h3>
            </div>
            <div class="perfil-usuario-footer">
                <ul class="lista-datos">
                    <li><i class="icono fas fa-user-check"></i> Nombre: <a th:text="${session.usuariosession.nombre}"></a></li>
                    <br>
                    <li><i class="icono fas fa-user-check"></i> Apellido: <a th:text="${session.usuariosession.apellido}"></a></li>
                    <br>
                    <li><i class="icono fas fa-user-check"></i> Email: <a th:text="${session.usuariosession.email}"></a></li>
                    

                        <button type="button" data-bs-toggle="modal" data-bs-target="#ModalRegistro" class="btn btn-danger">Editar perfil</button>
                        
                        
                        

                    </ul>
                </div>
            </div>
            <div>
                
                <!-- MODAL ACTUALIZAR USUARIO-->
                
                <link rel="stylesheet" href="style2.css">
                
                <div class="modal fade" id="ModalRegistro" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div id="modal-content">
                                    <div id="modal-header">
                                        <h1>Confirmar</h1>
                                    </div>

                                    <div class="alert alert-danger" role="alert" th:if="${error != null}">
                                        <p class="h5 fw-normal"  th:text="${error}" style="color: #000000"></p>
                                    </div>

                                    <div id="modal-body">
                                        <form action="/editarUsuario" method="POST" enctype="multipart/form-data">
                                            <label for="nombre">Nombre</label>
                                            <input required type="text" placeholder="nombre" id="nombre" name="nombre">

                                            <label for="apellido">Apellido</label>
                                            <input required type="text" placeholder="apellido" id="apellido" name="apellido">

                                            <label for="email">Email</label>
                                            <input required type="text" placeholder="email" id="email" name="email">

                                            <label for="contrasenia">Contraseña</label>
                                            <input required type="password" placeholder="clave" id="contrasenia" name="contrasenia">

                                            <label for="foto">Foto</label>
                                            <input required type="file" placeholder="foto" id="foto" name="foto">

                                            <button type="submit">Actualizar</button>>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    </body>

</html>