<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Box review</title>
  <link rel="stylesheet" href="../Style3.css">

  <nav class="navbar navbar-expand-lg bg-light">
    <nav class="navbar bg-light">
      <div class="container-fluid">
      </div>
      <div class="container">
        <a class="navbar-brand" href=index.html>
          <img src="../Logo_box_review.png" class="avatar" alt="" width="80" height="80">
        </a>
      </div>
    </nav>
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="titulo,genero,actor" aria-label="Search">
          <button type="button" class="btn btn-outline-secondary">Buscar</button>

        </form>
      </div>
    </nav>
    <nav class="navbar bg-light">
      <form class="container-fluid justify-content-start">
        <a class="btn btn-danger" href="Registro.html" type="button">Iniciar Secion</a>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
          type="button">Registrarse</button>
      </form>
    </nav>
    </div>
    </div>
  </nav>
</head>

<body>
  <!-- AGREGAR NAV -->



  <div class="peli">
    <img class="img-peli" src="http://www.trece.com.py/uploads/swp/gfftv8/media/607739c3a97ed87e3d1743f2.jpeg" alt="">
    <div>
      <main class="info-peli">
        <ul>
          <li>
            Dirección: aqui va info de la peli
          </li>
          <li>
            Guión: aqui va info de la peli
          </li>
          <li>
            Reparto principal: aqui va info de la peli
          </li>
          <li>
            Duración: aqui va info de la peli
          </li>
        </ul>
      </main>
    </div>
  </div>

  <section class="contenedor-calificador">
    <h2>¿Que te parecio?</h2>
    <p class="clasificacion">
      <input id="radio1" type="radio" name="estrellas" value="5">
      <label for="radio1">★</label>
      <input id="radio2" type="radio" name="estrellas" value="4">
      <label for="radio2">★</label>
      <input id="radio3" type="radio" name="estrellas" value="3">
      <label for="radio3">★</label>
      <input id="radio4" type="radio" name="estrellas" value="2">
      <label for="radio4">★</label>
      <input id="radio5" type="radio" name="estrellas" value="1">
      <label for="radio5">★</label>
    </p>
    <h4>Añadir reseña</h4>
    <input type="text" class="input-reseña">
  </section>

  <main class="contenedor-reseñas">
    <div class="reseñas">
      
    </div>
  </main>


</body>

</html>
